footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;

    position: fixed;
    left: 0px !important;
    right: 0px !important;
    bottom: 0% !important;
    height: 5px;

    background: linear-gradient(257.39deg, #EFB467 0%, #DE8667 100%);

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 32px 32px 0px 0px;
}

body{
    font-family: Century Gothic !important;
}